.alert{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    border:2px solid #e9426a!important;
    background-color: rgb(236, 220, 220) !important;
    color: #e9426a !important;
    width: 50%;
    margin: auto;
}
section{
    background: linear-gradient(98deg,#b68cbc 0%,#fff 100%);
}
body{
    --bs-body-font-size: 0rem;
    font-size: 15px;
}
nav{
    box-shadow: 0px 5px 19px 5px rgba(0,0,0,0.38);
-webkit-box-shadow: 0px 5px 19px 5px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 5px 19px 5px rgba(0,0,0,0.38);
}
#icon,#iconHome{
    width: 25px;
    height: 25px;
    z-index: 100000;
    margin: 0px 10px;
}

#app .navbar{
    background: linear-gradient(0deg,#fff 0%,#eedcea 51%,#e5eef7 100%);
    color: white;
    font-size: 18px;
    border-radius: 0px 0px 20px 20px;
}

#app .navbar-brand{
    color: white;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#app .collapse .navbar-nav .nav-item a{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bolder;

}
#app .nav-item{
margin: 0px 20px;

}
#app .nav-link{
    background: linear-gradient(180deg,#e9426a 0%,
    rgb(138, 29, 102)51%,
    rgb(130, 78, 140)100%) !important;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
}
.gradient-text {
    background: linear-gradient(180deg, #e9426a 0%, rgb(138, 29, 102) 51%, rgb(130, 78, 140) 100%);
    background-clip: text;
    color: transparent; /* Make the text transparent to show the gradient background */
    /* Add any other styles you want to apply to the text */
  }